<a href="https://colab.research.google.com/github/bofori-tech/DS-Unit-1-Sprint-2-Statistics/blob/master/module1/LS_DS_121_t_tests_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

## Practice 1-Sample T-tests

One Sample t-tests determine whether or not a sample mean is statistically different from some known (or hypothesized) population mean. 

### 1) Load the Data
- Use the [automobile dataset](https://archive.ics.uci.edu/ml/datasets/Automobile)
- Fix the column headers
- Make sure NaNs are used to indicate missing values

Feel free to add code cells and text cells as needed throughout the assignment.

In [26]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data

--2020-07-24 07:09:06--  https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 25936 (25K) [application/x-httpd-php]
Saving to: ‘imports-85.data.1’

imports-85.data.1   100%[===================>]  25.33K  --.-KB/s    in 0.03s

2020-07-24 07:09:06 (835 KB/s) - ‘imports-85.data.1’ saved [25936/25936]

In [27]:
#imports
from scipy.stats import ttest_ind, ttest_ind_from_stats, ttest_rel

In [28]:
#make a dataframe
import pandas as pd
column_headers = ['symboling','normalized-losses',
                              'make','fuel-type','aspiration','num-of-doors',
                              'body-style','drive-wheels','engine-location',
                              'wheel-base','length','width','height',
                              'curb-weight','engine-type','num-of-cylinders',
                              'engine-size','fuel-system','bore',
                              'stroke','compression-ratio','horsepower',
                              'peak-rpm''city-mpg','highway-mpg',
                              'price']
df = pd.read_csv('imports-85.data', header = None,
                   names = column_headers,
                   na_values = '?',
                   )

In [29]:
df.head()

   symboling normalized-losses make  ... peak-rpmcity-mpg highway-mpg    price
3        NaN       alfa-romero  gas  ...               21          27  13495.0
3        NaN       alfa-romero  gas  ...               21          27  16500.0
1        NaN       alfa-romero  gas  ...               19          26  16500.0
2      164.0              audi  gas  ...               24          30  13950.0
2      164.0              audi  gas  ...               18          22  17450.0

[5 rows x 25 columns]

### 2) Pretend that this dataset represents the cars at a used car lot in your local town. 

- Use df.sample() to pick a random sample of 10 cars. Note that because this sample is random we are going to set the `random_state` so that all of us in the class get the same random sample. Please set your random state to `30` when using `df.sample()`

Is your sample reflective of the population value in regards to highway-mpg? Find the mean for `highway-mpg` for the entire dataset and use a 1-sample t-test to compare your estaimated sample mean to the population mean. Can you say that they are different?

In [30]:
df.sample(30)

    symboling normalized-losses    make  ... peak-rpmcity-mpg highway-mpg    price
 0      106.0             honda     gas  ...               27          33   7895.0
 2       83.0            subaru     gas  ...               31          36   5118.0
 0      102.0            subaru     gas  ...               26          32   9960.0
 1      128.0            nissan     gas  ...               31          37   7299.0
 0        NaN               bmw     gas  ...               16          22  30760.0
 1      148.0             dodge     gas  ...               31          38   6229.0
 3      194.0            nissan     gas  ...               19          25  17199.0
 1      168.0            toyota     gas  ...               26          29   9298.0
 0      145.0            jaguar     gas  ...               15          19  32250.0
 0        NaN             mazda  diesel  ...               36          42  10795.0
 1       87.0            toyota     gas  ...               31          38   6338.0
 2      134.0            toyota     gas  ...               24          30   9639.0
-2      103.0             volvo     gas  ...               24          28  15985.0
 2      137.0             honda     gas  ...               49          54   6479.0
 2        NaN             isuzu     gas  ...               24          29  11048.0
 0       85.0            subaru     gas  ...               23          23  11694.0
 0       89.0            subaru     gas  ...               25          31  10198.0
 1      122.0            nissan     gas  ...               31          37   7499.0
 0      161.0            peugot     gas  ...               18          24  18150.0
 1      128.0            nissan  diesel  ...               45          50   7099.0
 2      134.0            toyota     gas  ...               24          30  11549.0
 1      148.0             dodge     gas  ...               31          38   7609.0
 0      106.0            nissan     gas  ...               27          34   8949.0
 1        NaN       alfa-romero     gas  ...               19          26  16500.0
 2      122.0        volkswagen     gas  ...               27          34   7975.0
 0       91.0            toyota     gas  ...               38          47   7738.0
 1      107.0             honda     gas  ...               25          31  10345.0
 1        NaN           porsche     gas  ...               17          28      NaN
 1      104.0             mazda     gas  ...               30          31   5195.0
 0       85.0             honda     gas  ...               27          33  10295.0

[30 rows x 25 columns]

In [31]:
random_state=df.sample(30)
random_state.head()

   symboling normalized-losses make  ... peak-rpmcity-mpg highway-mpg    price
2      134.0            toyota  gas  ...               24          30  11549.0
1      118.0             dodge  gas  ...               37          41   5572.0
1      104.0             mazda  gas  ...               31          38   6095.0
0       91.0            toyota  gas  ...               30          37   6938.0
3      197.0            toyota  gas  ...               19          24  15998.0

[5 rows x 25 columns]

In [32]:
from scipy.stats import ttest_ind
random_state['highway-mpg'].mean()
df['highway-mpg'].mean()
print(random_state['highway-mpg'].mean())
print(df['highway-mpg'].mean())

29.933333333333334
30.75121951219512

In [33]:
ttest_ind(random_state['highway-mpg'], df['highway-mpg'], nan_policy='omit')

Ttest_indResult(statistic=-0.6163240851951141, pvalue=0.5382823152028964)

The salesman says the cars he sells typically have a fuel efficiency of about 35 miles per gallon on the highway. You want to verify his claim but can only test 10 cars. Using your sample of 10, test his claim and report your results.

In [34]:
df2=random_state.sample(10)
df2.head()

   symboling normalized-losses make  ... peak-rpmcity-mpg highway-mpg   price
0      106.0             honda  gas  ...               27          33  9095.0
0       91.0            toyota  gas  ...               30          37  6938.0
0      102.0            subaru  gas  ...               24          25  9233.0
3      153.0        mitsubishi  gas  ...               23          30  9959.0
2      134.0            toyota  gas  ...               24          30  8449.0

[5 rows x 25 columns]

In [35]:
from scipy.stats import ttest_1samp
popmean=df['highway-mpg'].mean()
print(popmean)

30.75121951219512

In [36]:
# is the average fuel efficiency of random_state above the population average? yes.
ttest_1samp(df2['highway-mpg'], popmean, nan_policy='omit')

Ttest_1sampResult(statistic=0.034340725936386554, pvalue=0.9733550178759769)

In [37]:
#pvalue is greater the 0,therefore we reject the null hypothesis
#that

Imagine that you now have the capacity to test 100 cars on the lot. Using the same random state of `30`, take a sample of 100 cars. Run a t-test to verify the salesman's claim with your new larger sample. Do you reach the same conclusion as you did with the sample size of 10?

In [38]:
df3=df.sample(100)
df3.head()

    symboling normalized-losses    make  ... peak-rpmcity-mpg highway-mpg    price
-1        NaN            toyota     gas  ...               19          24  15750.0
-1       65.0            toyota     gas  ...               27          32  11248.0
 0      106.0             honda     gas  ...               27          33   7895.0
-1       65.0            toyota  diesel  ...               30          33  10698.0
 0      108.0            nissan     gas  ...               19          25  13499.0

[5 rows x 25 columns]

In [39]:
ttest_1samp(df3['highway-mpg'], popmean, nan_policy='omit')

Ttest_1sampResult(statistic=0.42915404037107685, pvalue=0.6687435978695692)

Why might these two t-tests using the same dataset lead to different conclusions about the salesman's claim?

The two dataset might lead to two conclusions because as the dataset gets bigger it becomes more reflective of the population average.

## Practice 2-Sample T-tests

Two Sample t-tests determine whether or not two sample means are statistically different from each other. 

This portion of your assignment requires you to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records).

### 1) Load the data

The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

- Read the dataset in from UCI, you'll need to provide a list of column headers
- Encode "yes" votes as 1 and "no" votes as 0. (You can use `df.replace()` to swap out these values)
- Use dataframe filtering to split the dataframe into two new dataframes based on party. Hold all republicans in one dataframe and all democrats in the other. These will be our two different "samples."

In [40]:
# imports
from scipy.stats import ttest_ind, ttest_ind_from_stats, ttest_rel

In [41]:
#get onto our colab machine
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data

--2020-07-24 07:09:07--  https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18171 (18K) [application/x-httpd-php]
Saving to: ‘house-votes-84.data’

house-votes-84.data 100%[===================>]  17.75K  --.-KB/s    in 0.03s

2020-07-24 07:09:08 (634 KB/s) - ‘house-votes-84.data’ saved [18171/18171]

In [42]:
#make into a dataframe
column_headers = ['Class Name','handicapped-infants','water-project-cost-sharing',
                               'adoption-of-the-budget-resolution','physician-fee-freeze',
                               'el-salvador-aid','religious-groups-in-schools','anti-satellite-test-ban',
                               'aid-to-nicaraguan-contras','mx-missile','immigration','synfuels-corporation-cutback',
                               'education-spending','superfund-right-to-sue','crime','duty-free-exports',
                               'export-administration-act-south-africa']

df = pd.read_csv('house-votes-84.data', header = None,
                    names = column_headers, 
                    na_values="?",
                    )
df.head()

   Class Name  ... export-administration-act-south-africa
0  republican  ...                                      y
1  republican  ...                                    NaN
2    democrat  ...                                      n
3    democrat  ...                                      y
4    democrat  ...                                      y

[5 rows x 17 columns]

In [43]:
#recode votes as numeric
df = df.replace({'y':1, 'n':0})
df.head()

   Class Name  ...  export-administration-act-south-africa
0  republican  ...                                     1.0
1  republican  ...                                     NaN
2    democrat  ...                                     0.0
3    democrat  ...                                     1.0
4    democrat  ...                                     1.0

[5 rows x 17 columns]

In [44]:
# No. from each party
df['Class Name'].value_counts()

democrat      267
republican    168
Name: Class Name, dtype: int64

In [45]:
#how did democrats vote
dem = df[df['Class Name']=='democrat']
dem.head()

  Class Name  ...  export-administration-act-south-africa
2   democrat  ...                                     0.0
3   democrat  ...                                     1.0
4   democrat  ...                                     1.0
5   democrat  ...                                     1.0
6   democrat  ...                                     1.0

[5 rows x 17 columns]

In [48]:
#how did republicans vote
rep = df[df['Class Name']=='republican']
rep.head()

    Class Name  ...  export-administration-act-south-africa
0   republican  ...                                     1.0
1   republican  ...                                     NaN
7   republican  ...                                     1.0
8   republican  ...                                     1.0
10  republican  ...                                     0.0

[5 rows x 17 columns]

In [49]:
rep['handicapped-infants'].sum()/len(rep)

0.18452380952380953

In [98]:
import numpy as np
#remove NaN values
col = rep['handicapped-infants']
np.isnan(col)
handicapped_infants_no_nans = col[~np.isnan(col)]
handicapped_infants_no_nans.sum()/len(handicapped_infants_no_nans)

0.18787878787878787

### 2) Perform two sample T-tests on different issues and report the results.

- Find an issue that democrats support more than republicans with p < 0.01 (significant at the 99% level).
- Find an issue that republicans support more than democrats with p < 0.01 (significant at the 99% level).
- Find an issue where the difference between republicans and democrats has p > 0.1 (Not significant at the 90% level - i.e. there may not be much of a difference the two sample means)

Please for each test that you run state your null and alternative hypothesis and then write a conclusion reflecting on the null and alternative hypothesis.

Remember, that two-sample t-tests will only tell us if the two groups are *different* from one another. We'll have to look at their sample means directly or use the sign on the t-statistic to know which of the two sample means is larger.

In [ ]:
from scipy.stats import ttest_ind

In [99]:
#Average rate of voting 'yes' on handicapped-infants
dem['handicapped-infants'].mean()

0.6046511627906976

In [100]:
rep['handicapped-infants'].mean()

0.18787878787878787

In [103]:
#compare with t-test:
ttest_ind(dem['handicapped-infants'], rep['handicapped-infants'], nan_policy='omit')

Ttest_indResult(statistic=9.205264294809222, pvalue=1.613440327937243e-18)

In [ ]:
#I fail to accept the null hypothesis if my p-value is < .01 or if my p-value is less than (1-confidence_level)

Conclusion: due to a p-value of 1.613-18 I accept the null hypothesis that republican and democrat support for 
the handicapped-infants bill is different.

In [46]:
#average rate of voting "yes" on immigration
dem['immigration'].mean()

0.4714828897338403

In [50]:
#average rate of voting 'yes' on immigration
rep['immigration'].mean()

0.5575757575757576

In [52]:
#compare with t-test:
ttest_ind(dem['immigration'], rep['immigration'], nan_policy='omit')

Ttest_indResult(statistic=-1.7359117329695164, pvalue=0.08330248490425066)

In [ ]:
#with a pvalue > .01 I fail to accept the null hypothesis than repulicans and democrats 
# support for the immigration bill is different

In [56]:
#average rate of voting 'yes' on mx-missile
dem['education-spending'].mean()

0.14457831325301204

In [57]:
rep['education-spending'].mean()

0.8709677419354839

In [58]:
#compare with t-test:
ttest_ind(dem['education-spending'], rep['education-spending'], nan_policy='omit')

Ttest_indResult(statistic=-20.500685724563073, pvalue=1.8834203990450192e-64)

In [ ]:
#pvalue is < .01,I accept the null hypothesis that the democrats and republican support for education spending is different.

## Stretch Goals:

### 1) Use functions and some iterator (for loop, .apply(), list comprehension, etc.) to perform two sample t-tests on every issue in the dataset in an automated fashion.

In [ ]:
### YOUR WORK HERE



### 2) Work on Performing a T-test without using Scipy in order to get "under the hood" and learn more thoroughly about this topic.
### Start with a 1-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://blog.minitab.com/hs-fs/hubfs/Imported_Blog_Media/701f9c0efa98a38fb397f3c3ec459b66.png?width=247&height=172&name=701f9c0efa98a38fb397f3c3ec459b66.png) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

### Be sure to check your work using Scipy!

In [ ]:
### YOUR WORK HERE

### 3) Then try a 2-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://lh3.googleusercontent.com/proxy/rJJ5ZOL9ZDvKOOeBihXoZDgfk7uv1YsRzSQ1Tc10RX-r2HrRpRLVqlE9CWX23csYQXcTniFwlBg3H-qR8MKJPBGnjwndqlhDX3JxoDE5Yg) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Be sure to check your work using Scipy!

In [ ]:
### YOUR WORK HERE